@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --clr-primary: #CB1F5A;
  --clr-secondary: #21303B;
  --clr-accent: #36CACC;
  --clr-accent-blueGray: #327987; 
  --clr-accent-gray: #181818;
  --clr-accent-purple: #a22cfd;
  --font-primary: 'Bebas Neue';
  --font-secondary: 'Press Start 2P'
}